
<body>

    <div class="conteiner-fluid">
        <div class="row">
            <div class="barra-lateral col-12 col-sm-auto">
                <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                    <a  routerLink="/crear-rol"><i class="fas fa-home active"></i><span>Crear Rol</span></a>
                    <a  routerLink="/lista-roles"><i class="fas fa-home active"></i><span>Lista de roles</span></a>
                    <a  routerLink="/crear-usuario"><i class="fas fa-home active"></i><span>Crear usuario</span></a>
                    <a  routerLink="/lista-usuarios"><i class="fas fa-home active"></i><span>Lista de usuarios</span></a>
                    <a  routerLink="/iot"><i class="fas fa-home active"></i><span>IoT</span></a>
                </nav>
            </div>
            <main class="main col">
                <div class="row justify-content-center align-content-center text-center">
                    <div class="column col-lg-6">
                        <div class="container mt-4">
                            <div class="card">
                                <div class="card-body">
                                    <span class="h3">
                                        Lista de Roles
                                    </span>
                                    <button class="btn btn-dark btn-lg float-end" routerLink="/crear-rol">
                                        Agregar Rol
                                    </button>
                                    <table class="table table-hover mt-4">
                                        <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Rol
                            </th>

                          
                            <th>
                        
                            </th>
                            
                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let r of roles">
                                                <td>
                                                    {{ r.idRol }}
                                                   </td>
                                                <td>
                                                  {{ r.rol}}
                                                 </td>
                                                                                                 
                                                 
                                                 <td>
                                                    <i class="far fa-edit fa-lg text-info me-3" [routerLink]="['/editar-rol/', r.idRol]"></i>
                                                    <i (click)="eliminar(r)" class="far fa-trash-alt fa-lg text-danger"></i>
                                                </td>
                                            </tr>
                                          
                        
                         
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>


