<body>

    <div class="conteiner-fluid">
        <div class="row">
            <div class="barra-lateral col-12 col-sm-auto">
                <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                    <a  routerLink="/crear-rol"><i class="fas fa-home active"></i><span>Crear Rol</span></a>
                    <a  routerLink="/lista-roles"><i class="fas fa-home active"></i><span>Lista de roles</span></a>
                    <a  routerLink="/crear-usuario"><i class="fas fa-home active"></i><span>Crear usuario</span></a>
                    <a  routerLink="/lista-usuarios"><i class="fas fa-home active"></i><span>Lista de usuarios</span></a>
                    <a  routerLink="/iot"><i class="fas fa-home active"></i><span>IoT</span></a>
                </nav>
            </div>
            <main class="main col">
                <div class="row justify-content-center align-content-center text-center">
                    <div class="column col-lg-6">
                        <img src="assets\imagenes\oklans.png">
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>