<section class="hero-page">
    <div class="wrap-hero-page">
        <section class="section">
            <div class="conteiner">
                <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../assets/imagenes/1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/imagenes/2.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/imagenes/1.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div><br><br>
                
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="column-half">

                                <form action="" class="formulario">
                                    <input type="text" placeholder="TU NOMBRE*">
                                    <input type="text" placeholder="ASUNTO">
                                    <input type="email" placeholder="CORREO ELECTRÓNICO*">
                                    <textarea name="" id="detalle" cols="30" rows="10"
                                        placeholder="DETALLES"></textarea>
                                    <button type="submit">Enviar</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3776.0019337711888!2d-96.81138782188542!3d18.84258183671365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c4f2446bd22dc3%3A0xe03ea11fd6c5b69d!2sBar%20La%20Caba%C3%B1a!5e0!3m2!1ses-419!2smx!4v1691652232727!5m2!1ses-419!2smx"
                                style="border:0;width:100%;height:450px;" allowfullscreen="" loading="lazy" ></iframe>
                        </div>
                    </div>
                </div>
        </section>
    </div>
</section><br><br>
<!--<div class="poser_tales">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        sfdgasgsdg        style="border:0;width:100%;height:450px;" allowfullscreen="" loading="lazy"></iframe>

                    </div>
                </div>
            </div><br><br>-->